{
    'extends': 'airbnb/legacy',
    'rules': {
        'strict': [2, 'global'],
        'func-names': 0,
        'max-len': [2, 200, 2, {
            'ignoreUrls': true,
            'ignoreComments': true
        }],
        'comma-dangle': 0,
        'indent': [2, 4, {"SwitchCase": 1}],
        'no-multi-spaces': [2, {
            'exceptions': {
                'VariableDeclarator': true
            }
        }],
        'no-param-reassign': 0,
        'one-var': 0,
        'radix': [2, 'as-needed'],
        'new-cap': [2, { newIsCap: true, capIsNew: false }],
        'spaced-comment': 0,
        'key-spacing': [2, {'beforeColon': false, 'afterColon': true, mode: 'minimum'}],
        'no-cond-assign': [2, 'except-parens']
    },
    'ecmaFeatures': {
        'modules': false,
    },
    'env': {
        'es6': true,
        'node': true
    }
}
